<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    {% for user in users %}
        <tr>
            <td>
                <p>{{ user.user_id }}</p>
            </td>
            <td>
                <p>{{ user.username }}</p>
            </td>
            <td>
                <a href="{% url 'services:delete' id=user.user_id%}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'services:form_register' %}">Add</a>
</body>
</html>